@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-gray-900 transition-colors duration-200 dark:bg-gray-900 dark:text-white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
  }
}

.rs-panel {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) !important;
}

.rs-input-group.rs-input-group-inside .rs-input {
  padding-right: 36px;
}

.rs-input {
  border-radius: 9999px !important;
}

.rs-input-group-addon {
  border-radius: 0 9999px 9999px 0 !important;
}

.rs-flex-box-grid-item {
  padding: 0 8px;
}

/* Fixing "bounce" on iOS */
html,
body {
  -webkit-overflow-scrolling: touch;
}
/* globals.css or tailwind.config.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* NProgress customizations */
#nprogress .bar {
  background-color: #10b981 !important;
  height: 4px !important;
}
#nprogress .peg {
  box-shadow: 0 0 8px #10b981, 0 0 4px #10b981 !important;
}
#nprogress .spinner {
  display: none !important;
}
